
.toggle{
  position: fixed;
  left: 0;
  top: -10px;
  padding: 0;
}
.fa{
  padding: 20px 0;
}
.link-overlay{
  position: fixed;
  top: 10vh;
  display: none;
  flex-direction: column;
  padding: 0 2em;
}
.hide{
  display: flex;
}
.link-overlay>a{
  z-index: -99
}
.projects-card{
  width: 80vw;
  border: 1px solid black;
  text-align: center;
  margin-top: 1em;
  max-width: 300px;
}
.projects-card>img{
  width: 100%;
  /* border: 1px solid black; */
}
.div-projects{
  display: grid;
  text-align: center;
  width: 80vw;
  margin: 10vh auto;
  align-content: center;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.div-stack-right{
  background: lightblue;
  opacity: .4;
  flex: 40%;
  padding: 10px
}
.div-stack-left::after {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.div-stack-left:hover{
  background-color: lightblue;
  opacity: 1;
  box-shadow: 1px 2px rgba(0,0,0,0.15);
  transition: 0.3s ease-in-out;
}
.div-stack-left{
  border: 1px solid lightblue;
  opacity: .9;
  flex: 60% 1 1;
  padding: 10px
}

.div-stack{
  display: flex;
  flex-direction: row;
  max-width: 600px;
  margin-left: 10vw;
}
.container{
  width: 100vw;
}
.hero{
  background-image: url('bg-edit.png');
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  height: 150vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
}
.ff-sans-sequel{
  font-family: 'Sequel Sans';
}
a{
  color: black;
  text-decoration: none;
}
ul>li{
  list-style: none;
}
li{
  font-family: 'Superclarendon Regular' ;
}
.ff-sans-roman
@font-face {
  font-family: Superclarendon Regular;
  src: url('fonts/Superclarendon Regular.ttf');
}
@@font-face {
  font-family: Sequel Sans;
  src: url('fonts/Sequel Sans Roman Head.otf');
}
*{
  /* font-family: 'Sequel Sans', 'Superclarendon Regular'; */
  margin: 0;
  padding: 0;
  touch-action: none;
}
